*{
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    
    font-weight: 500;
}
.top{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    text-align: center;
    background-color:rgb(186, 178, 242);
}
.top li{
    display: inline-block;
} 
.top a{
    color: #00bff3;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    display: block;
    padding: 0.5rem 1rem;
    outline-width:10%;
    outline-style: dashed;
    outline-color: aliceblue;
    color: aliceblue;
}
  

.top a:hover {
    box-shadow: #c5e5ed;
    color: #ff583d;
    
}
.active {
    color: #ff3de5;
    background-color: #c5e5ed;
    background-image: url("https://assets.codepen.io/296057/lil-bluedots.png");
}
.logo{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.zj{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0% 12%;
}

.z{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 10%;
    color: #e9b6eb;
}
.z p{
    font-size: 30px;
}
.lx{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #f1c7f3;
}
.lx .p1{
    font-size: 30px;
}
.yj{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.yj i{
    width: 1397px;
    height: 1px;
    border: 1px solid #e2afe8;
    margin: 63px auto 50px;
}

.yj p{
    margin-right: 10px;
    font-size: 19px;
    color: #a774a3;
    padding-left: 118px;
}

caption{
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: rgb(52, 4, 48);
}
th,td{
    border: 1px solid rgb(85, 163, 49);
    padding: 8px;
}
table{
    border-collapse: collapse;
    border: 3px solid rgb(3, 6, 58);
    text-align: center;
    vertical-align: middle;
}
thead th {
    width: 25%;
}
.cell-highlight{ 
    background-color: aqua;
    font-weight: bold;     

}
thead{
    background-color: rgb(144, 164, 164);
    color: aliceblue;
}

